{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
  },
  "overrides": [{
    "files": ["*.test.js"],
    "globals": {
      "describe": false,
      "test": false,
      "expect": false
    }
  }]
}