@import '../app/styleguide';

.score-form {
  .label-wrapper {
    display: block;
  }

  input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .input-base {
    display: inline-block;
    width: 60%;
    height: 3em;
    margin: 1em auto;
    padding: 0 2%;
    font-size: 100%;
  }
  .input-label {
    display: inline;
    margin: 1em 1em 0 0;
  }
  .input-name {
    border: 1px solid;
    border-color: $text;
  }
  .input-score {
    color: $text;
    font-weight: bold;
    border: none;
  }
  .submit-btn {
    width: 75%;
  }
}